body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #334257;
}
h1{
  margin: 50px auto  0 auto;
  font-size: 5.625rem;
  font-family: 'Great Vibes', cursive;
  color: #2E279D;
  line-height: 2;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #0E49B5;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: #07689F;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2;
}
hr{
  border: dotted #92A9BD 6px;
  border-bottom: none;
  width: 2%;
  margin: 100px auto;
}
a{
  color: #0E49B5;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 10px;
  text-decoration: none;
}
a:hover{
  color: #CAF0F8;
}
.top-container{
  background-color: #EEF2FF;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container
{
  background-color: #398AB9;
  padding: 30px 0 10px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright-msg{
  color: #CAF0F8;
  font-size: 0.75rem;
  padding: 10px 0;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.web-img{
  width: 25%;
  float: left;
  margin-right: 30px;

}
.cup-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.btn {
  background: #78c9ff;
  background-image: -webkit-linear-gradient(top, #78c9ff, #265094);
  background-image: -moz-linear-gradient(top, #78c9ff, #265094);
  background-image: -ms-linear-gradient(top, #78c9ff, #265094);
  background-image: -o-linear-gradient(top, #78c9ff, #265094);
  background-image: linear-gradient(to bottom, #78c9ff, #265094);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #4655fa;
  text-decoration: none;
}
